<nav class="container navbar navbar-expand-sm bg-dark navbar-dark rounded">

	<a class="navbar-brand" href="/">
		<img src="/img/logopap.png" alt="INICIO" style="width:40px;">
	</a>

	<ul class="navbar-nav" th:if="${session.persona != null}">
		<li class="nav-item dropdown">
		
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
				País
			</a>

			<div class="dropdown-menu">
				<a class="dropdown-item" href="/pais/r">Listar</a>
				<a class="dropdown-item" href="/pais/c" th:if="${session.persona.loginname.equals('admin')}">Crear</a>
			</div>
		</li>

		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
				Afición
			</a>

			<div class="dropdown-menu">
				<a class="dropdown-item" href="/aficion/r">Listar</a>
				<a class="dropdown-item" href="/aficion/c" th:if="${session.persona.loginname.equals('admin')}">Crear</a>
			</div>
		</li>

		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
				Persona
			</a>

			<div class="dropdown-menu">
				<a class="dropdown-item" href="/persona/r">Listar</a>
				<a class="dropdown-item" href="/persona/c" th:if="${session.persona.loginname.equals('admin')}">Crear</a>
			</div>
		</li>
		
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
				Venta
			</a>

			<div class="dropdown-menu">
				<a class="dropdown-item" href="/venta/r">Listar</a>
				<a class="dropdown-item" href="/venta/c" th:if="${session.persona.loginname.equals('admin')}">Crear</a>
			</div>
		</li>
		
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
				Categoria
			</a>

			<div class="dropdown-menu">
				<a class="dropdown-item" href="/categoria/r">Listar</a>
				<a class="dropdown-item" href="/categoria/c" th:if="${session.persona.loginname.equals('admin')}">Crear</a>
			</div>
		</li>

		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
				Producto
			</a>

			<div class="dropdown-menu">
				<a class="dropdown-item" href="/producto/r">Listar</a>
				<a class="dropdown-item" href="/producto/c" th:if="${session.persona.loginname.equals('admin')}">Crear</a>
			</div>
		</li>

   </ul>
</nav>

