<div class="container">
	<h1>Lista de productos</h1>

	<a href="/producto/c">
		<button>Crear</button>
	</a> <a href="/">
		<button>Cancelar</button>
	</a>
	<table class="table table-striped">
		<tr>
			<th>Nombre</th>
			<th>Foto</th>
			<th>Categoria</th>
			<th>Acción</th>
		</tr>

		<tr th:each="producto:${productos}">
			<td th:text="${producto.nombre}"></td>
			<td><img th:src="|/img/upload/producto-${producto.id}.${producto.foto}|" height="50" width="50"/></td>
			<td th:text="${producto.categoria.nombre}"></td>

			<td class="row">
				<form action="/producto/u" method="get">
					<input type="hidden" name="id" th:value="${producto.id}" />
					<button onclick="submit()">
						<img src="/img/edit.png" height="20" width="20">
					</button>
				</form>
				<form action="/producto/d" method="post">
					<input type="hidden" name="id" th:value="${producto.id}" />
					<span th:if="${producto.ldvs.size()== 0}">
						<button onclick="submit()">
							<img src="/img/delete.png" height="20" width="20">
						</button>
					</span>
				</form>
			</td>
		</tr>
	</table>
</div>