<script>
		 $(window).on("load",(function(){
		 $(function() {
		 $('#id-foto').change(function(e) {addImage(e);});
		function addImage(e){
			var file = e.target.files[0],
			imageType = /image.*/;
			if (!file.type.match(imageType)) return;
			var reader = new FileReader();
			reader.onload = fileOnload;
			reader.readAsDataURL(file);
		}
		function fileOnload(e) {
		var result=e.target.result;
		$('#id-out-foto').attr("src",result);
		}});}));
</script>
	
<div class="container">
	<h1>Nuevo producto</h1>

	<a href="/">
		<button>Cancelar</button>
	</a>

	<form method="post"  action="/producto/c" class="form" enctype="multipart/form-data">
		Nombre <input type="text" onkeyup="lanzarAjax();" required id="nombreId" name="nombre" autofocus="autofocus" class="form-item">
		<div id="warning" style="display:none;"></div><br> 
		<br/>
		
		
		<script type="text/javascript">
		// AJAX DE PRODUCTO
		function mostrar(respuestaAJAX) {
			
			json = JSON.parse(respuestaAJAX);
			if (json["coincide"] == 1) { 
	    		mensaje ="<b>Advertencia</b>, este producto ya esta registrado.";
	    		document.getElementById("warning").style="display:inline; margin-left:10px;";
	    		document.getElementById("nombreId").classList.add("bg-warning");
	    		document.getElementById("warning").innerHTML=mensaje;
			}
			else {
				document.getElementById("warning").innerHTML='';
				document.getElementById("nombreId").classList.remove('bg-warning');
			}	
		}
		
		function lanzarAjax() {
			url = "http://localhost:8080/producto/ajaxProdExistente";
				
			x = new XMLHttpRequest();
			x.open("POST", url, true);
			x.setRequestHeader('Content-type','application/x-www-form-urlencoded');
			
			x.send("nombreP="+document.getElementById('nombreId').value);
			
			x.onreadystatechange=function() {
				if (x.readyState==4 && x.status==200) {
					mostrar(x.responseText);
				} 

			//--disable-web-security --disable-gpu --user-data-dir=C:\tmp
			}
		}
		</script>
		
		Stock inicial <input type="number" min="0" value="1" name="stock" class="form-item" > 
		<br/>
		
		Precio <input type="number" step="0.01" name="precio" class="form-item" value ="5.20"> 
		<br/>
		
		<div class="row">
		Foto <input id="id-foto" type="file" name="foto" class="form-item col-1"> 
		<img class ="offset-1 col-2" id ="id-out-foto" width="40" height="70" src="" alt="">
		<br/>
		</div>
		
		Categoria del producto
		<select name="idCategoria">
			<option value="">---</option>
			<option th:each="categoria:${categorias}" th:text="${categoria.nombre}" th:value="${categoria.id}"></option>
		</select>
		<br/>
	
		<input type="submit" class="form-item" />
	</form>
</div>