<div class="container">
	<div class="jumbotron">
	<h1>Bienvenido a la aplicación P.A.P.</h1>
		<h2 th:if="${session.persona != null}" th:text ="|Bienvenido ${session.persona.loginname}|"></h2>
		<h2 th:if="${session.persona == null}" th:text ="Bienvenido"></h2>
		Esta es mi home page 
			
			
	<div th:if="${session.persona != null}">
	
	<form action="/pais/r">
		<input type="submit" value="Países"/>
	</form>

	<form action="/aficion/r">
		<input type="submit" value="Aficiones"/>
	</form>

	<form action="/persona/r">
		<input type="submit" value="Personas"/>
	</form>

	<form action="/producto/r">
		<input type="submit" value="Productos"/>
	</form>

	<form action="/carrito/r">
		<input type="submit" value="Carrito"/>
	</form>
	
		</div>
	</div>	
</div>